<div class="form_wrapper">
	<%= form_for @exhibition , :html => { :multipart => true } do |f| %>
			<h2>PROFILE PIC </h2>
			<%= image_tag @exhibition.avatar.url(:thumb) if @exhibition.avatar.present? %>
			<br>
			<%= f.file_field :avatar %> 
			<li><%= f.label "Artist" %>
			<p style="color:#000"><%= f.text_field :artist %></p>
			<li><%= f.label "Name" %></li>
			<p><%= f.text_field :name %></p>
			<li><%= f.label "From" %></li>
			<p><%= f.date_field :date %></p>
			<li><%= f.label "To" %></li>
			<p><%= f.date_field :end_date %></p>
			<%= f.submit "Update" %>
			<br><br>
			<div class="actions">
				<%= link_to "Go Back", exhibition_path %>
			</div><br>
	 	<%= link_to "Delete", @exhibition, data: { confirm: "OMG, OMG, OMG ARE YOU SURE!?" }, method: :delete%>
	<% end %>
</div>
