<div class="form_wrapper">
	<%= form_for @user , :html => { :multipart => true } do |f| %>
			<h2>PROFILE PIC </h2>
			<%= image_tag @user.avatar.url(:thumb) if @user.avatar.present? %>
			<br>
			<%= f.file_field :avatar %> 
			<li><%= f.label "Username" %>
			<p><%= f.text_field :username %></p>
			<li><%= f.label "E-mail" %></li>
			<p><%= f.text_field :email %></p>
			<li><%= f.label "Password" %></li>
			<p><%= f.text_field :password %></p>
			<%= f.submit "Update" %>
			<br><br>
			<div class="actions">
				<%= link_to "Go Back", user_path(session[:user_id])%>
			</div><br>
	 	<%= link_to "Delete", @user, data: { confirm: "OMG, OMG, OMG ARE YOU SURE!?" }, method: :delete%>
	<% end %>
</div>
