<div class="form_wrapper">
	<%= form_for @gallery , :html => { :multipart => true } do |f| %>
			<h2>PROFILE PIC </h2>
			<%= image_tag @gallery.avatar.url(:thumb) if @gallery.avatar.present? %>
			<br>
			<%= f.file_field :avatar %> 
			<li><%= f.label "Name" %>
			<p><%= f.text_field :name %></p>
			<li><%= f.label "Address" %></li>
			<p><%= f.text_field :address %></p>
			<li><%= f.label "Phone" %></li>
			<p><%= f.text_field :phone %></p>
			<%= f.submit "Update" %>
			<br><br>
			<div class="actions">
				<%= link_to "Go Back", edit_gallery_path(session[:user_id])%>
			</div><br>
	 	<%= link_to "Delete", @gallery, data: { confirm: "OMG, OMG, OMG ARE YOU SURE!?" }, method: :delete%>
	<% end %>
</div>
